@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    font-family: 'Montserrat', sans-serif;
}



.card-todo {
    width: 400px;
    height: 250px;
    background-color: #bcbcbc;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: height 0.5s;
}

.card-todo.height-focus {
    height: 600px;
}

.card-todo__image {
    height: 200px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card-todo__image img {
    width: 100%;
    height: 100%;
}

.refresh-btn-icon {
    position: absolute;
    top: 8%;
    right: 5%;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: transform 0.5s;
}

.refresh-btn-icon:hover {
    transform: rotate(360deg);
}

.date-time-palah {
    margin-bottom: 0;
    position: absolute;
    bottom: 8%;
    left: 5%;
    color: #ffffff;
    font-size: 1.8rem;
    pointer-events: none;
}



#lists-item {
    height: calc(400px - 50px);
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#lists-item::-webkit-scrollbar {
    width: 6px;
}

#lists-item::-webkit-scrollbar-thumb {
    background-color: #555555;
}

#lists-item::-webkit-scrollbar-thumb:hover {
    background-color: #333333;
}

#checkbox__text {
    cursor: pointer;
}

#lists-item li {
    height: 50px;
    padding: 0 10px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: #aaaaaa;
    border-bottom: 1px solid #888888;
    transition: background-color 0.1s;
    position: relative;
}

#lists-item li:hover {
    background-color: #cccccc;
}

#add_debug_message {
    width: 190px;
    height: 40px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -80%;
    left: 10%;
    font-size: 0.875em;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

#add_debug_message.message-debug-alert {
    opacity: 1;
    visibility: visible;
}

#add_debug_message::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: #ffffff;
    transform: rotate(45deg);
    z-index: -1;
}

#add_debug_message i {
    color: rgb(255, 145, 0);
}

#item {
    width: 100%;
    margin: 0 10px;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;    /* ทำข้อความให้อยู่บรรทัดเดียว */
    /* flex-grow: 1; */
}

#item.line-through {
    text-decoration: line-through;
}

.list-btn-icon {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.1s;
}

.list-btn-icon:hover {
    transform: scale(1.5);
}

.list-btn-icon:hover:nth-of-type(1) {
    color: rgb(0, 180, 0);
}

.list-btn-icon:hover:nth-of-type(2) {
    color: rgb(0, 0, 180);
}

.list-btn-icon:hover:nth-of-type(3) {
    color: rgb(180, 0, 0);
}

#debug__text {
    width: 100%;
    height: 50%;
    margin-left: 5px;
    padding-left: 4px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    outline: none;
}

#debug__text, #save-btn {
    display: none;
}



.card-todo__add {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.5);
}

#add_message {
    width: 210px;
    height: 40px;
    padding: 0 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -50px;
    left: 5%;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

#add_message.message-alert {
    opacity: 1;
    visibility: visible;
}

#add_message::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -10%;
    left: 5%;
    transform: rotate(45deg);
    background-color: #ffffff;
    z-index: -1;
}

#add_message i {
    color: rgb(255, 145, 0);
}

.card-todo__add input {
    flex-grow: 1;
    height: 100%;
    padding-left: 15px;
    font-size: 1.1rem;
    outline: none;
}

.card-todo__add button {
    width: 50px;
    font-size: 1.7rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.card-todo__add button:hover {
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
}

.card-todo__add button i {
    transition: transform 0.5s;
}

.card-todo__add button:hover i {
    transform: rotate(360deg);
}



/* edit-mode */
#item.edit-mode, #edit-btn.edit-mode {
    display: none;
}

#debug__text.edit-mode, #save-btn.edit-mode {
    display: inline-block;
}